:root {
  --colour-status-correct: #6aaa64;
  --colour-status-present: #c9b458;
  --colour-status-absent: #787c7e;
  --colour-kb-default: #d3d3d3;
  --colour-tile-border-default: #d3d6da;
  --colour-header-border: #d3d6da;
  --height-header: 3rem;
  --height-game: calc(100vh - var(--height-header));
}

[data-theme="dark"] {
  --bg-app: #000;
  --colour-text-app: #fff;
}