@import "animations";

.wrapper {
  display: flex;
  height: 100%;
  align-items: center;
}

.board,
.row {
  display: grid;
  grid-gap: 0.25rem;
}

.board,
.row,
.tile {
  width: 100%;
}

.board {
  margin: 1rem auto 0;
  grid-template-rows: repeat(6, 1fr);
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1;
  border: 2px solid var(--colour-tile-border-default);
  border-radius: 0.35rem;
  text-transform: uppercase;
  background-color: transparent;
  font-weight: bold;
  font-size: var(--font-size-xs, 2rem);

  @media (min-width: 500px) {
    font-size: 2rem;
  }

  &[data-status]:not([data-status="bardle"]):not([data-status="falstaff"]) {
    animation: reveal 500ms ease-in forwards;
  }

  &[data-status="falstaff"] {
    animation: pop 150ms ease-in forwards;
  }

  &[data-status="bardle"] {
    color: #fff;
    background-color: var(--colour-status-bg);
    border-color: var(--colour-status-bg);
    animation: celebrate 300ms ease-in forwards;
  }

  &[data-status="hamlet"],
  &[data-status="bardle"] {
    --colour-status-bg: var(--colour-status-correct);
  }

  &[data-status="juliet"] {
    --colour-status-bg: var(--colour-status-present);
  }

  &[data-status="iago"] {
    --colour-status-bg: var(--colour-status-absent);
  }
}

.example {
  margin-top: 1.25rem;

  .row {
    width: 80%;
  }

  p {
    margin: 0.5rem 0 0;
  }

  span {
    font-weight: bold;
  }
  
  [data-status] {
    color: #fff;
    background-color: var(--colour-status-bg, transparent);
    border-color: var(--colour-status-bg, var(--colour-tile-border-filled));
    animation: none !important;
    
    &[data-status=""] {
      color: var(--colour-text-app);
    }
  }
}