.board,
.row {
  display: grid;
  grid-gap: 0.25rem;
}

.board,
.row,
.tile {
  width: 100%;
}

.board {
  margin: 0 auto;
  grid-template-rows: repeat(6, 1fr);
 }

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1;
  border: 2px solid var(--colour-status-bg, #d3d6da);
  text-transform: uppercase;
  background-color: var(--colour-status-bg);
  font-weight: bold;
  font-size: 2rem;
}