.key {
 --colour-kb-text: #000;
 --colour-status-bg: var(--colour-kb-default);
 
 color: var(--colour-kb-text);
 background-color: var(--colour-status-bg);
 
 &[data-status]:not([data-status="default"]) {
  --colour-kb-text: #fff;
 }
}