@import "variables";

* {
  box-sizing: border-box;
}

:is(a, button, input, label, textarea, summary) {
  --outline-size: max(4px, 0.08em);
  --outline-style: dotted;
  --outline-color: var(--colour-status-present);
  --outline-offset: -5px;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:focus-visible {
    outline: var(--outline-size) var(--outline-style) var(--outline-color) !important;
    outline-offset: var(--outline-offset) !important;
  }
}

html,
body {
  background-color: var(--bg-app);
  color: var(--colour-text-app)
}

button {
  border: none;
  padding: 0;
  color: var(--colour-text-app);
  background: none;
  cursor: pointer;
}

a {
  color: var(--colour-link);
  transition: all 150ms ease-in-out;
  
  &:hover {
    color: var(--colour-link-hover);
    background: var(--colour-link-bg-hover, transparent);
  }
}